---
layout: layout.html 
---


    {% for post in collections.intro %}
        <div class="screen intro {{ post.data.class}}">  
            <h1>{{ post.data.intro}}</h1>
            <h2>{{ post.data.text}}</h2>
        </div>
        
    {% endfor %}


    {% for post in collections.projekt %}
        {% if post.data.ueberschrift %}
            <div class="screen projekt"> 
                <h1>{{ post.data.ueberschrift }}</h1>
                <p>{{ post.data.beschreibung }}</p>
            </div>

            {% if post.data.bilder %}
                <div class="contentscreen">
                    <button class="projektbutton"></button>
                    {% for bild in post.data.bilder %}
                     <iframe class="bild inactive" src="{{ bild }}"></iframe>
                     <p class="counter inactive">{{ forloop.index }}</p>
                    {% endfor %}
                    <p class="gesamtzahl"> /{{ post.data.bilder.size }}</p>
                </div>
                
            {% endif %}
    
        {% endif %}
    {% endfor %}

    {% for post in collections.outro %}
        <div class="screen outro {{ post.data.class}}">  
            <h1>{{ post.data.outro}}</h1>
            <h2>{{ post.data.text}}</h2>
        </div>
        
    {% endfor %}






