
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  grid-column: 1/4;
  z-index: 5;
}

:root {
  --margin: 2vw;
  --main: 96vw;
  --buffer: 2.5vw
}

body{
  margin-left: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 2vw 96vw 2vw;
  font-family:"poppins", poppins;
  /* justify-items: center; */  
} 

/*___________________________________________________________FONTS________________________________________________________________ */

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  h1{
  font-size: 3em;
  }

  h2{
    font-size: 3em;
  }

  p{
    font-size: 1.5em;
  }

  .klicknotiz{
    visibility: hidden;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1{
  font-size: 2em;
  }

  h2{
    font-size: 2em;
  }

  p{
    font-size: 1.3em;
  }

}

h1{
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: var(--buffer);
  }

  h2{
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  p{
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-size: calc(20px + 1vw); */
    hyphens: auto;
  }
/* grid-area: x / x / x / x(row-start col-start row-end col-end) */

/*___________________________________________________________SCHLEIFEN________________________________________________________________ */

.screen{
  grid-column: 2/3;
}

.intro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start; 
}

    .meetpoint{
      height: 0.001vh;
    }

.projekt{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start; 
}

.outro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start; 
}

    .exitpoint{
      height: 0.001vh;
    }


.contentscreen{
  grid-column: 1/4;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--margin) var(--main) var(--margin); ;
  /* flex-direction: column; */
  justify-items: center;
  align-items: center;
}


/*___________________________________________________________PROJEKTSEITEN________________________________________________________________ */
    .projektbutton{
      height: 100vh;
      width: 100vw;
      grid-area: 1/1/2/4;
      background-image: linear-gradient(white,black 10vh, black 90vh, white);
      border: none;
    }

      .bild{
        align-self: center;
        justify-self: center;
        grid-area: 1/1/2/4;
        z-index: 10; 
        /* border: none; */
       
      }
          .lang{
            height: 75vh;
          }
          .breit{
            height: 75vh;

          }
          .quadrat{
            width: 50vw;
          }

/*___________________________________________________________COUNTER________________________________________________________________ */      
      .counter{
        grid-area: 1/2/2/3;
        z-index: 6;
        pointer-events: none;
        color: white;
        margin-left: var(--buffer);
        margin-bottom: 10vh;
        width: 2vw;
        align-self: flex-end;
        justify-self: flex-start;
      }
      .gesamtzahl{
        z-index: 6;
        grid-area: 1/2/2/3;
        color: white;
        margin-left: 4.5vw;
        margin-bottom: 10vh;
        align-self: flex-end;
        justify-self: flex-start;
      }

        .inactive{
          visibility: hidden;
          pointer-events: none;
        }

        .active{
          visibility: visible;
        }

    @media screen and (max-width: 600px) {
      .gesamtzahl{
        margin-left: 8vw;
      }

    }


/*___________________________________________________________WEITER________________________________________________________________ */ 
@media screen and (min-width: 601px) {
  #buttonmouse{
  position: fixed;
  display: flexbox;
  width: 4em;
  height: 4em;
  border: solid white;
  border-radius: 50%;
  z-index: 100;
  pointer-events: none;
  transform: translate(-2em, -2em);
  visibility: hidden;
  }
  #buttonmouse>h2{
    color: white;
    text-align: center;
  }

  .projektbutton:hover{
    cursor: none;
  }
  .klicknotiz{
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  .klicknotiz{
    color: rgb(255, 255, 255);
    border: solid white;
    border-radius: 20%;
    width: fit-content;
    height: 2em;
    grid-area: 1/2/2/3;
    z-index: 6;
    justify-self: flex-end;
    align-self: flex-end;
    margin-bottom: 10vh;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .klicknotiz>h2{
    text-align: center;
    font-size: 1em;
    padding: 0.2em;
  }

  #buttonmouse{
    visibility: hidden;
    display: none;
  }
   #buttonmouse>h2{
    visibility: hidden;
    display: none;
   }

}
