
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  grid-column: 1/4;
  z-index: 5;
}

:root {
  --margin: 2vw;
  --main: 96vw;
  --buffer: 2.5vw
}

body{
  margin-left: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 2vw 96vw 2vw;
  font-family:"poppins", poppins;
  /* justify-items: center; */  
} 



/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  h1{
  font-size: 3em;
  }

  h2{
    font-size: 3em;
  }

  p{
    font-size: 1.5em;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1{
  font-size: 2em;
  }

  h2{
    font-size: 2em;
  }

  p{
    font-size: 1.3em;
  }
}

h1{
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: var(--buffer);
  }

  h2{
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  p{
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-size: calc(20px + 1vw); */
    hyphens: auto;
  }
/* grid-area: x / x / x / x(row-start col-start row-end col-end) */

.screen{
  grid-column: 2/3;
}

.intro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start; 
}

    .meetpoint{
      height: 0.001vh;
    }

.projekt{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start; 
}

.outro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start; 
}

    .exitpoint{
      height: 0.001vh;
    }


.contentscreen{
  grid-column: 1/4;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--margin) var(--main) var(--margin); ;
  flex-direction: column;
  justify-items: center;
}

    .projektbutton{
      height: 100vh;
      width: 100vw;
      grid-area: 1/1/2/4;
      background-image: linear-gradient(white,black 10vh, black 90vh, white);
      border: none;
    }

      .bild{
        align-self: center;
        grid-area: 1/1/2/4;
        z-index: 10; 
        /* border: none; */
       
      }
          .lang{
            height: 50vh;
          }
          .breit{
            width: 20vw;

          }
          .quadrat{
            width: 50vw;
          }

      
      .counter{
        grid-area: 1/2/2/3;
        justify-self: flex-start;
        align-self: flex-end;
        z-index: 5;
        pointer-events: none;
        color: white;
        margin-left: var(--buffer);
        margin-bottom: 10vh;
        
      }
      .gesamtzahl{
        grid-area: 1/2/2/3;
        justify-self: flex-start;
        align-self: flex-end;
        color: white;
        text-indent: 5vw;
        margin-left: 1vw;
        margin-bottom: 10vh;

      }

        .inactive{
          visibility: hidden;
          pointer-events: none;
        }

        .active{
          visibility: visible;
        }



#buttonmouse{
  position: fixed;
  /* margin-right: var(--buffer);
  margin-bottom: 10vh; */
  left: 0;
  top: 0;
  display: flex;
      justify-content: center;
      align-items: center;
  /* width: calc(var(--column-w)*0.5);
  height: calc(var(--column-w)*0.5); */
  border: solid white;
  border-radius: 50%;
  z-index: 100;
  /* opacity: 10; */
  /* visibility: hidden; */
  pointer-events: none;
  /* background-color: rgb(255, 255, 255); */
  /* transform: translate(calc((var(--column-w)*0.5)/-2),calc((var(--column-w)*0.5)/-2)); */
}
  #buttonmouse>p{
    /* transform: translate(calc(var(--column-w)/4),calc(var(--column-w)/4)); */
    /* border: solid; */
    color: white;
    text-align: center;
    width: fit-content;
    height: fit-content;
  }
/* 
.contentscreen:hover ~ #buttonmouse{
  visibility: visible;
} */
