:root {
  --margin: 2vw;
  --main: 96vw;
  --buffer: 2.5vw
}
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  
}

body{
  width: 100vw;
  margin-left: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: var(--margin) var(--main) var(--margin);
  font-family:"poppins", poppins;
  /* justify-items: center; */  
} 

h1{
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: var(--buffer);
  font-size: calc(40px + 1vw);
}

h2{
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: calc(40px + 1vw);

}

p{
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: calc(20px + 1vw);
}
/* grid-area: x / x / x / x(row-start col-start row-end col-end) */

.screen{
  grid-column: 2/3;
}

.intro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start; 
}

    .meetpoint{
      height: 0.001vh;
    }

.projekt{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start; 
}

.outro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start; 
}

    .exitpoint{
      height: 0.001vh;
    }


.contentscreen{
  grid-column: 1/4;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--margin) var(--main) var(--margin); ;
  flex-direction: column;
  justify-items: center;
}

    .projektbutton{
      height: 100vh;
      width: 100vw;
      grid-area: 1/1/2/4;
      background-image: linear-gradient(white,black 10vh, black 90vh, white);
      border: none;
    }

      .bild{
        align-self: center;
        grid-area: 1/1/2/4;
        /* border: none; */
        height: fit-content;
        width: fit-content;
      }
        /* iframe > #document > html > body > img {
          height: 10vh;
          width: 10vw;
        } */

      
      .counter{
        grid-area: 1/2/2/3;
        justify-self: flex-start;
        align-self: flex-end;
        z-index: 5;
        pointer-events: none;
        color: white;
        margin-left: var(--buffer);
        margin-bottom: var(--buffer);
        
      }
      .gesamtzahl{
        grid-area: 1/2/2/3;
        justify-self: flex-start;
        align-self: flex-end;
        color: white;
        text-indent: 5vw;
        margin-bottom: var(--buffer);
      }

        .inactive{
          visibility: hidden;
          pointer-events: none;
        }

        .active{
          visibility: visible;
        }



